html, body {
    margin: 0;
    background-color: rgb(184, 186, 224);
  }
  
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  display: flex;
  align-items: center;
}
.nav {
    position: absolute;
    top: 0.7rem;
    margin: 1rem 0;
    left: 7.5vw;
}
h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 0;
  right: 5px;

  color: black;
  text-shadow: 0 0 4px white;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color:black;

}
.container{
  width: 85%;
  height: 85%;
  margin: auto;
  border: 2px white solid;
  
  position: relative;
  background-color: black;
}
.active
{
  cursor: none;
}


canvas{
  width: 100%;
  height: 100%;
  
}
* {
  box-sizing: border-box; 
}

@media only  screen and (max-width: 560px){
  .container {
    margin: 0 1rem;
    width: 100%;
    height: 90%;
    top: 3vh;
  }
  .nav{
    left: 4.5vw;
    top: 0;
    margin: 2px



  }

  h1{
    font-size: 1rem;
    top:0;
    margin: 3px;
    right: 0.5rem;
    
    
  }
  p{
    font-size: 0.8rem;
    top: 1.3rem;
  }
}